---
layout: page
title: About
description: 
header-img: img/post-bg-rwd.jpg
published: true
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
 

<h3>Introduction</h3>
 <p>
Dr. Xu Gong is currently working as Associate Research Scientist at the Center for Brain Disorder and Cognitive Science, College of Psychology, at Shenzhen University, Shenzhen Key Laboratory of Affective and Social Cognitive Science. She obtained her doctorate in Cognitive Neuroscience at the Center for Cognitive Neuroimaging, <a href="https://www.ru.nl/donders/">Donders Institute for Brain, Cognition, and Behaviour</a> at<a href="https://www.ru.nl/english/">Radboud University</a> in the Netherlands and 
<a href="http://brain.bnu.edu.cn/">State Key Laboratory of Cognitive Neuroscience and Learning</a>, <a href="https://www.bnu.edu.cn/">Beijing Normal University</a>.
</p>
<p>
Her research interest is in the field of Neuroeconomics or Decision Science (Neuroscience)  in general, which combines interdisciplinary of Psychology, Economics, Cognitive Neuroscience, and Computer Science. Her research projects are focused on the understanding of psychological processes, motivations, and brain mechanisms of various kinds of human socioeconomic decision-making. She applies an interdisciplinary approach to integrating cognitive neuroimaging with computational modeling, psychological measures, behavioral economics, and clinical disciplines. She published articles on journals like Hormones and Behavior, Scientific Reports, PloS One, etc. She has been the reviewer of the Journal of Neuroscience & Biobehavioral Reviews, Neuropsychologia, PLoS One, Frontiers of Neuroscience, Frontiers of Psychology, Acta Psychologica Sinica, Artificial intelligence Review, etc. 
 </p>

    
       <h3>Research </h3>
    <p>
Research Questions:  How we make choices (Decision Utilities)? What are the potential factors that contribute to our decisions? How can we integrate these factors into current decision models to help us better understand human decision-making? And How these decisive psychological/neural processes/experiences affect our subsequent behavior/emotions? 



In general, my research is trying to answer the above questions, which combines interdisciplinary of Psychology, Economics, Cognitive Neuroscience, and Computer Science. My research projects engaged in a deep understanding of the cognitive/emotional processes and brain mechanisms underlying human decision-making.  



Methodology: Our research integrates computational modeling and advanced statistical with multiple research approaches. For example, online experiments and questionnaires, behavioral laboratory experiments, neuroimaging experiments (EEG, fMRI, eye-tracking, etc.) as well as neuropharmacology and clinical research.   
    
</p>
 <p>

      <h4> Social Decision-Making</h4>

Identifying the neural mechanisms of decision-making processes during social interactions (e.g., trust and reciprocity, social cooperation, social norm violation and altruistic punishment, fairness, and social equality).



<h4>Behavioral Economics/Economic Decision-making</h4>

Investigating the psychological mechanisms as it relates to the economic decision-making processes on an individual and societal level, providing empirical evidence for social policies. For example, do economic models match or maximize decision utility in real life? If not, how to help individuals maximize subjective expected utility?

Investigating the underlying motivational mechanisms (eg., chronic stress, resource scarcity) of risk decision-making, investment decision-making, delay discounting, by the application of neuroeconomics paradigms and computational modeling approaches.



<h4>Emotion and Decision-making</h4>

Exploring the underlying mechanisms of how decisions influence emotions/emotional disorders and how they affect the subsequent decisions (eg., guilt, regret, gratitude, stress, anxiety, psychopathy), offering quantificational evidence for understanding the emotional/abnormal decisive behaviors or pathological mechanisms. 
     
     
    </p>
    <p>
       <h4> Cooperation</h4>

As we know, successful cooperation offers considerable benefits for ourselves and for others, but sometimes places us at risk of our cooperative acts being abused, and can be therefore a risky choice option. Although cooperation is important for the functioning of society, the origin of cooperation, especially in a competitive world, is still somewhat of a puzzle. Therefore, exploring and recognizing individual and situational factors that help in understanding cooperative decisions is of great importance.  
   <h4> Trust and Reciprocity</h4>

Trust is an important social construct, pervading almost all human relationships. While trust is crucial for establishing a social relationship, reciprocating someone else’s trust also plays a vital role in maintaining this stable cooperative partnership. Both of these decisions are important factors for social relationships in the individual and society level.	     
    <h4>Social Norm Enforcement and Norm Violation Punishment</h4>

Social norms, mostly invisible, but largely exist in human society, influencing human social behaviors. However, the enforcement of social norms is still largely unknown. And it is additionally useful and interesting to examine an individual’s reactions when a particular social norm is violated. In this way, both processes provide opportunities for gaining knowledge of decision-making in social interactions.
  <h4> Emotions and Investment decision-making</h4>

It's never been more challenging when it comes to emotions while making decisions. However, traditional economic models ignored the psychological aspects of decision-making processes. Our research aims to reveal the underlying mechanism of how emotions/emotional disorders on decision-making.
    </p>

 <p>
     
<h3>Welcom to Contact</h3>
Address:

3688 Nanhai Boulevard,  L3-1313 Science and Engineering building, South campus, Shenzhen University, Shenzhen, China, 518060

College of Psychology, Shenzhen University, Shenzhen, China 

Shenzhen Key Laboratory of Affective and Social Cognitive Science, 

Center for Brain Disorder and Cognitive Science, Shenzhen University
</p>
 <p>
Tel: +86 18710169421，Email: xuxugong@gmail.com 
     Personal Web:https://sites.google.com/site/xugonghome/home
 </p>
<ul>
     
    </ul>
 
</div> 


<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
